<div class="row">
<div class="col-md-8">	

  <div class="page-header">
    <h1>Park Road Books <small>Charlotte's favorite bookstore</small></h1>
    </div>

<section class="well">
  <h3>About Us</h3>
  <p>Find me in app/views/welcome/index.html.erb</p>
  <p>Bacon ipsum dolor sit amet enim veniam ut pork strip steak short loin. In leberkas laborum occaecat shankle corned beef bacon cow ground round veniam. Aliqua nisi meatball, drumstick eu ham exercitation spare ribs ball tip elit adipisicing. Culpa brisket cupidatat voluptate eu ball tip aliquip labore occaecat chicken turkey in minim. Ullamco salami t-bone est in swine consectetur. Ut cupidatat non anim, pork loin est ball tip spare ribs sausage brisket meatball tenderloin deserunt shoulder. Jerky jowl ham non.</p>

</section>
</div>

<div class="col-md-4"><img class="img-map"src="http://images.statemaster.com/images/motw/historical/charlotte_nc_1919.jpg"/>
  <p class="lead">Find Us</p>

	
</div>

</div>

	<div class="row">
  <div class="col-sm-6 col-md-3">
    <a href="http://images.indiebound.com/834/257/9780399257834.jpg" class="thumbnail">
      <img src="http://images.indiebound.com/834/257/9780399257834.jpg"/> 
    </a>
  
  
</div>

	<div class="row">
  <div class="col-sm-6 col-md-3">
    <a href="http://images.indiebound.com/834/257/9780399257834.jpg" class="thumbnail">
      <img src="http://images.indiebound.com/834/257/9780399257834.jpg"/> 
    </a>
  
  
</div>

	<div class="row">
  <div class="col-sm-6 col-md-3">
    <a href="http://images.indiebound.com/834/257/9780399257834.jpg" class="thumbnail">
      <img src="http://images.indiebound.com/834/257/9780399257834.jpg"/> 
    </a>
  
  
</div>



</div>	