

body {
  background-color: #EAEAEA;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

h1 {
	color: #7D9EC0;
}


.img-map {

	height: 300px;
	width: 300px;
}


